@import "tailwindcss";

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1440px){
  .container{
    max-width: 1230px;
  }
}
h1,p,h2,h3{
  font-family: "fraunces";
}

              